body {
    font-family: Arial, sans-serif;
    background: url(images/pattern.avif);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #333;
  }
  
  input, select, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn {
    background-color: #d17931;
    color: white;
    cursor: pointer;
    border: #d17931 solid 1px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .form-message {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }
  
  #ideasContainer {
    margin-top: 20px;
  }
  
  .idea {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .idea h2 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  
  .idea p {
    margin: 0 0 5px;
  }
  
  .idea .idea-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .idea .idea-actions button {
    background-color: #d17931;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .idea .idea-actions button:hover {
    background-color: #0056b3;
  }
  